* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    max-width: 1920px;
    display: flex;
    flex-direction: column;

    background-color: #333;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 3;
    /* background-color: green; */
}
header.wrap {
    height: 80px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
header.wrap .banner {
    opacity: 0.5;
}
header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    color: #fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 4;
}
header.wrap .logo {
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}
header .logo:hover {
    color: #ff30af;
}

nav {
    position: relative;
    display: flex;
    z-index: 2;
}
nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}
header.wrap nav ul {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
    visibility: visible;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff30af;
}

/* HOBBY */
.hobby {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 30vh;
    padding: 100px;
    max-width: 1920px;
}

.hobby .card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 480px;
    height: 520px;
    margin: 50px 10px;

    background-color: #ddd;
    box-shadow: 0px 0px 50px rgba(0, 200, 200, 0.5);
    transition: 0.25s linear;
}
.hobby .card:hover {
    height: 700px;
}
.hobby .card .boxImg {
    position: relative;

    width: 400px;
    top: -60px;
    left: 20px;

    z-index: 1;
}

.hobby .card .boxImg img {
    max-width: 100%;
    /* border-radius: 4px; */
}
.hobby .card .description {
    position: relative;

    margin-top: -50px;
    padding: 10px 50px;

    text-align: center;
    color: #333;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s linear;
}
.hobby .card:hover .description {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.25s;
}

/* ABOUT ME */

.aboutMe {
    background-color: red;
    /* margin-top: 100vh; */
}

/* NEON */
.neon h2 {
    position: relative;
    /* background-color: red; */
    margin: 50vh auto 0;
    width: 35vh;
    font-size: 10vh;
    color: #333;
    -webkit-text-stroke: 2px #333;
}

.neon h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(144, 171, 230);
    -webkit-text-stroke: 0px #333;
    border-right: 2px solid rgb(144, 171, 230);
    overflow: hidden;
    animation: logAnimate 5s linear infinite both, logoColors 35s linear infinite both;
}

@keyframes logAnimate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}

@keyframes logoColors {
    0%,
    100% {
        color: rgb(230, 144, 144);
        border-right: 2px solid rgb(230, 144, 144);
    }
    16.66% {
        color: rgb(230, 230, 144);
        border-right: 2px solid rgb(230, 230, 144);
    }
    33.33% {
        color: rgb(144, 230, 144);
        border-right: 2px solid rgb(144, 230, 144);
    }
    50% {
        color: rgb(144, 230, 230);
        border-right: 2px solid rgb(144, 230, 230);
    }
    66.66% {
        color: rgb(144, 144, 230);
        border-right: 2px solid rgb(144, 144, 230);
    }
    83.33% {
        color: rgb(230, 144, 230);
        border-right: 2px solid rgb(230, 144, 230);
    }
}

/* MEDIA */
@media (max-width: 1366px) {
    /* HOBBY */

    .hobby {
        padding: 50px;
    }

    .hobby .card {
        max-width: 430px;
        height: 430px;
    }
    .hobby .card:hover {
        height: 600px;
    }
    .hobby .card .boxImg {
        width: 345px;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 40px;
    }

    header.wrap .logo {
        left: 40px;
    }
    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav ul li {
        /* border: solid white 2px; */
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    nav.active ul {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background-image: url("../images/overlay.png"), url("../images/code-1076536_1920.jpg");
        background-attachment: scroll, fixed;
        background-position: top left, center center;
        background-repeat: repeat, no-repeat;
        background-size: auto, cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav ul li a {
        font-size: 2em;
    }
    header.wrap .toggle {
        position: fixed;
        color: #fff;
        font-size: 2em;
        cursor: pointer;
    }
    header.wrap .toggle i.fa-times {
        display: none;
    }
    /* i.fa-bars:hover {
        color: #ff30af;
    }
    i.fa-times:hover {
        color: #ff30af;
    } */

    header.wrap .toggle.active i.fa-bars {
        display: none;
    }
    header.wrap .toggle.active i.fa-times {
        display: block;
    }

    /* HOBBY */

    .hobby {
        padding: 50px;
    }

    .hobby .card {
        max-width: 360px;
        height: 360px;
    }
    .hobby .card:hover {
        height: 500px;
    }
    .hobby .card .boxImg {
        width: 290px;
    }
}

@media (max-width: 360px) {
    /* HOBBY */

    .hobby {
        padding: 10px;
    }

    .hobby .card {
        max-width: 340px;
        height: 300px;
    }
    .hobby .card:hover {
        height: 450px;
    }
    .hobby .card .boxImg {
        width: 250px;
    }

    .hobby .card .description {
        position: relative;

        margin-top: -50px;
        padding: 10px 10px;
    }
}
